<html>
    <head>
        <title>
            BOOKVISOR
        </title>
        <link rel="stylesheet" href="% static 'css/style.css' %">
    </head>
    <body>
        <div class="slider">
            <h1>
                BOOKVISOR!!
            </h1>
            <div class="showup">
                Escape ->
            </div>
            <div class="reveal">
                <span>into the world of Books!</span>
            </div>
            <p>The most adventurous and thrilling books provided at your doorstep.</p>

            <div>
                <a class="button" href="">LOGIN</a>
                <a style="margin-left: 10px;" class="button" href="">SIGNUP</a>
            </div>

        </div>
    </body>
</html>
